[project]
name = "fundamental-analysis-system"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
	"alembic>=1.17.2",
	"asyncpg>=0.30.0",
	"greenlet>=3.2.4",
	"pyyaml>=6.0",
	"sqlalchemy>=2.0.44",
]
